@font-face {
  font-family: FiraGo-Bold;
  src: url('../fonts/roman/FiraGO-Bold.eot');
  src: url('../fonts/roman/FiraGO-Bold.woff');
  src: url('../fonts/roman/FiraGO-Bold.woff2');
}
/*@font-face {
  font-family: FiraGo-Book;
  src: url('../fonts/roman/FiraGO-Book.eot');
  src: url('../fonts/roman/FiraGO-Book.woff');
  src: url('../fonts/roman/FiraGO-Book.woff2');
}
@font-face {
  font-family: FiraGo-Eight;
  src: url('../fonts/roman/FiraGO-Eight.eot');
  src: url('../fonts/roman/FiraGO-Eight.woff');
  src: url('../fonts/roman/FiraGO-Eight.woff2');
}
@font-face {
  font-family: FiraGo-ExtraBold;
  src: url('../fonts/roman/FiraGO-ExtraBold.eot');
  src: url('../fonts/roman/FiraGO-ExtraBold.woff');
  src: url('../fonts/roman/FiraGO-ExtraBold.woff2');
}
@font-face {
  font-family: FiraGo-ExtraLight;
  src: url('../fonts/roman/FiraGO-ExtraLight.eot');
  src: url('../fonts/roman/FiraGO-ExtraLight.woff');
  src: url('../fonts/roman/FiraGO-ExtraLight.woff2');
}
@font-face {
  font-family: FiraGo-Four;
  src: url('../fonts/roman/FiraGO-Four.eot');
  src: url('../fonts/roman/FiraGO-Four.woff');
  src: url('../fonts/roman/FiraGO-Four.woff2');
}
@font-face {
  font-family: FiraGO-Hair;
  src: url('../fonts/roman/FiraGO-Hair.eot');
  src: url('../fonts/roman/FiraGO-Hair.woff');
  src: url('../fonts/roman/FiraGO-Hair.woff2');
}
@font-face {
  font-family: FiraGo-Heavy;
  src: url('../fonts/roman/FiraGO-Heavy.eot');
  src: url('../fonts/roman/FiraGO-Heavy.woff');
  src: url('../fonts/roman/FiraGO-Heavy.woff2');
}
@font-face {
  font-family: FiraGo-Ligh;
  src: url('../fonts/roman/FiraGO-Light.eot');
  src: url('../fonts/roman/FiraGO-Light.woff');
  src: url('../fonts/roman/FiraGO-Light.woff2');
}*/
@font-face {
  font-family: FiraGo-Medium;
  src: url('../fonts/roman/FiraGO-Medium.eot');
  src: url('../fonts/roman/FiraGO-Medium.woff');
  src: url('../fonts/roman/FiraGO-Medium.woff2');
}
@font-face {
  font-family: FiraGo-Regular;
  src: url('../fonts/roman/FiraGO-Regular.eot');
  src: url('../fonts/roman/FiraGO-Regular.woff');
  src: url('../fonts/roman/FiraGO-Regular.woff2');
}
/*@font-face {
  font-family: FiraGo-SemiBold;
  src: url('../fonts/roman/FiraGO-SemiBold.eot');
  src: url('../fonts/roman/FiraGO-SemiBold.woff');
  src: url('../fonts/roman/FiraGO-SemiBold.woff2');
}
@font-face {
  font-family: FiraGo-Thin;
  src: url('../fonts/roman/FiraGO-Thin.eot');
  src: url('../fonts/roman/FiraGO-Thin.woff');
  src: url('../fonts/roman/FiraGO-Thin.woff2');
}
@font-face {
  font-family: FiraGo-Two;
  src: url('../fonts/roman/FiraGO-Two.eot');
  src: url('../fonts/roman/FiraGO-Two.woff');
  src: url('../fonts/roman/FiraGO-Two.woff2');
}
@font-face {
  font-family: FiraGo-UltraLight;
  src: url('../fonts/roman/FiraGO-UltraLight.eot');
  src: url('../fonts/roman/FiraGO-UltraLight.woff');
  src: url('../fonts/roman/FiraGO-UltraLight.woff2');
}*/
